<h1>New post</h1>  ## form is on subreddit page

<form action="<%= posts_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <!input type="hidden" name="post[author_id]" value="<%= current_user.id %>">
  <!input type="hidden" name="post[subreddit_id]" value="<%= current_user.id %>">

  <label>Title
    <input type="text" name="posttitle]" value="<%= @sub.title %>">
  </label>

    <label>Description
    <input type="text" name="post[description]" value="<%= @sub.description %>">
  </label>

  <input type="submit" value="create sub">
</form>